{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Lista de Capítulos</h2>
	<body>
		{% if user.is_authenticated %}
			{% if not volumeless %}
				<input type="button" value="Nuevo Capítulo" onclick="location.href='{% url 'vchapter-new' manga.name volume.n_vol %}'">
			{% else %}
				<input type="button" value="Nuevo Capítulo" onclick="location.href='{% url 'chapter-new' manga.name %}'">
			{% endif %}
		{% endif %}
		{% if object_list %}
			{% if volumeless %}
				<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
			{% else %}
				<input type="button" value="Volver" onclick="location.href='{% url 'volume' manga.name %}'">
			{% endif %}
			<br /><br />
			<table>
				<tr>
					<th>Capítulo</th>
					<th>Título</th>
					<th>Script</th>
					<th width="100px"><center>Traducido</center></th>
				</tr>
				{% for chapter in object_list %}
				<tr>
					<td><center>{{ chapter.n_chap }}</center></td>
					<td>{{ chapter.title }}</td>
					{% if not volume %}
						<td class="img_cell">
							<center>
								<a href="{% url 'script' manga.name chapter.n_chap %}">
									<img src='{% static "mangascripts/images/go.png" %}' width="24px" alt="Ver script" title="Ver script"/>
								</a>
							</center>
						</td>
					{% else %}
						<td class="img_cell">
							<center>
								<a href="{% url 'vscript' manga.name volume.n_vol chapter.n_chap %}">
									<img src='{% static "mangascripts/images/go.png" %}' width="24px" alt="Ver script" title="Ver script"/>
								</a>
							</center>
						</td>
					{% endif %}
					<td class="img_cell">
						{% if chapter.translated %}
							<center><img src='{% static "mangascripts/images/O.png" %}' width="24px" alt="Si" title="Si"/></center>
						{% else %}
							<center><img src='{% static "mangascripts/images/X.png" %}' width="24px" alt="No" title="No"/></center>
						{% endif %}
					</td>
					{% if user.is_authenticated %}
						<!--<td class="img_cell">
							<center>
								{% if False %}
									<img src='{% static "mangascripts/images/fav.png" %}' width="24px" alt="Favorito" title="Favorito"/>
								{% else %}
									<img src='{% static "mangascripts/images/nfv.png" %}' width="24px" alt="No favorito" title="No favorito"/>
								{% endif %}
							</center>
						</td>-->
						{% if user.pk == chapter.user.pk %}
							{% if not volume %}
								<td class="img_cell">
									<center>
										<a href="{% url 'chapter-edit' manga.name chapter.n_chap chapter.pk %}">
											<img src='{% static "mangascripts/images/edit.gif" %}' width="24px" alt="Editar Volumen" title="Editar Volumen"/>
										</a>
									</center>
								</td>
								<td class="img_cell">
									<center>
										<a href="{% url 'chapter-del' manga.name chapter.n_chap chapter.pk %}">
											<img src='{% static "mangascripts/images/del.gif" %}' width="24px" alt="Eliminar Capítulo" title="Eliminar Capítulo"/>
										</a>
									</center>
								</td>
							{% else %}
								<td class="img_cell">
									<center>
										<a href="{% url 'vchapter-edit' manga.name volume.n_vol chapter.n_chap chapter.pk %}">
											<img src='{% static "mangascripts/images/edit.gif" %}' width="24px" alt="Editar Volumen" title="Editar Volumen"/>
										</a>
									</center>
								</td>
								<td class="img_cell">
									<center>
										<a href="{% url 'vchapter-del' manga.name volume.n_vol chapter.n_chap chapter.pk %}">
											<img src='{% static "mangascripts/images/del.gif" %}' width="24px" alt="Eliminar Capítulo" title="Eliminar Capítulo"/>
										</a>
									</center>
								</td>
							{% endif %}
						{% endif %}
					{% endif %}
				</tr>
				{% endfor %}
			</table>
			<br />
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
						<a class="mylink" href="?page={{ page_obj.previous_page_number }}"><img src='{% static "mangascripts/images/ant.png" %}' width="15px" alt="Anterior" title="Anterior"/></a>
					{% endif %}
					<strong class="current">
						Página {{ page_obj.number }} de {{ paginator.num_pages }}
					</strong>
					{% if page_obj.has_next %}
						<a class="mylink" href="?page={{ page_obj.next_page_number }}"><img src='{% static "mangascripts/images/sig.png" %}' width="15px" alt="Siguiente" title="Siguiente"/></a>
					{% endif %}
				</span>
			</div>
		{% else %}
			<h3>No hay volúmenes disponibles</h3>
		{% endif %}
		<br />
		{% if volumeless %}
			<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
		{% else %}
			<input type="button" value="Volver" onclick="location.href='{% url 'volume' manga.name %}'">
		{% endif %}
	</body>
{% endblock %}
