{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Lista de Capítulos</h2>
	<body>
		{% if object_list %}
			<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
			<br /><br />
			<table>
				<tr>
					<th>Capítulo</th>
					<th>Título</th>
					<th>Script</th>
					<th>¿Leido?</th>
				</tr>
				{% for chapter in object_list %}
				<tr>
					<td><center>{{ chapter.n_chap }}</center></td>
					<td>{{ chapter.title }}</td>
					<td class="img_cell">
						<center>
							<a href="{% url 'script' manga.name chapter.n_chap %}">
								<img src='{% static "mangascripts/images/go.png" %}' width="24px" alt="Ver script" title="Ver script"/>
							</a>
						</center>
					</td>
					<td class="img_cell">
						{% if chapter.read %}
							<center><img src='{% static "mangascripts/images/O.png" %}' width="24px" alt="Si" title="Si"/></center>
						{% else %}
							<center><img src='{% static "mangascripts/images/X.png" %}' width="24px" alt="No" title="No"/></center>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<h3>No hay volúmenes disponibles</h3>
		{% endif %}
		<br /><input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
	</body>
{% endblock %}
