{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Lista de Capítulos</h2>
	<body>
		{% if not volumeless and not favorite %}
			<input type="button" value="Nuevo Capítulo" onclick="location.href='{% url 'vchapter-new' manga.name volume.n_vol %}'">
		{% else %}
			<input type="button" value="Nuevo Capítulo" onclick="location.href='{% url 'chapter-new' manga.name %}'">
		{% endif %}
		{% if not favorite %}
			{% if volumeless %}
			<input type="button" value="Ver Favoritos" onclick="location.href='{% url 'chapter_fav' manga.name %}'">
			{% endif %}
		{% else %}
			<input type="button" value="Ver Todos" onclick="location.href='{% url 'chapter' manga.name %}'">
		{% endif %}
		{% if object_list %}
			{% if volumeless %}
				<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
			{% else %}
				<input type="button" value="Volver" onclick="location.href='{% url 'volume' manga.name %}'">
			{% endif %}
			<br /><br />
			<table>
				<tr>
					<th>Capítulo</th>
					<th>Título</th>
					<th>Script</th>
					<th>Leido</th>
				</tr>
				{% for chapter in object_list %}
				<tr>
					<td><center>{{ chapter.n_chap }}</center></td>
					<td>{{ chapter.title }}</td>
					<td class="img_cell">
						<center>
							<a href="{% url 'script' manga.name chapter.n_chap %}">
								<img src='{% static "mangascripts/images/go.png" %}' width="24px" alt="Ver script" title="Ver script"/>
							</a>
						</center>
					</td>
					<td class="img_cell">
						{% if chapter.read %}
							<center><img src='{% static "mangascripts/images/O.png" %}' width="24px" alt="Si" title="Si"/></center>
						{% else %}
							<center><img src='{% static "mangascripts/images/X.png" %}' width="24px" alt="No" title="No"/></center>
						{% endif %}
					</td>
					<td class="img_cell">
						<center>
							{% if chapter.favorite %}
								<img src='{% static "mangascripts/images/fav.png" %}' width="24px" alt="Favorito" title="Favorito"/>
							{% else %}
								<img src='{% static "mangascripts/images/nfv.png" %}' width="24px" alt="No favorito" title="No favorito"/>
							{% endif %}
						</center>
					</td>
					<td class="img_cell">
						<center>
							<a href="{% url 'chapter-edit' manga.name chapter.n_chap chapter.pk %}">
								<img src='{% static "mangascripts/images/edit.gif" %}' width="24px" alt="Editar Volumen" title="Editar Volumen"/>
							</a>
						</center>
					</td>
					<td class="img_cell">
						<center>
							<a href="{% url 'chapter-del' manga.name chapter.n_chap chapter.pk %}">
								<img src='{% static "mangascripts/images/del.gif" %}' width="24px" alt="Eliminar Capítulo" title="Eliminar Capítulo"/>
							</a>
						</center>
					</td>
					<td class="img_cell">
						<center>
							{% if chapter.protected %}<img src='{% static "mangascripts/images/pro.png" %}' width="24px" alt="Protegido" title="Protegido"/>{% endif %}
						</center>
					</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<h3>No hay volúmenes disponibles</h3>
		{% endif %}
		<br />
		{% if volumeless %}
			<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
		{% else %}
			<input type="button" value="Volver" onclick="location.href='{% url 'volume' manga.name %}'">
		{% endif %}
	</body>
{% endblock %}
