{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Edición de Capítulos de {{ manga.name }}</h2>
	<body>
		{% if user.is_authenticated %}
			{% load replace %}
			{% if form.errors %}
				<h4 class="err-msg">Se han producido los siguientes errores:</h4>
				<div class="error">
					{% replace search="n_chap" replacement="Capítulo:" %}
						{% replace search="__all__" replacement="Restricción:" %}
							{% replace search="Chapter con este Manga y N chap ya existe." replacement="Ya existe el Capítulo introducido para este Manga" %}
								{{ form.errors }}
							{% endreplace %}
						{% endreplace %}
					{% endreplace %}
				</div>
				<br />
			{% endif %}
			{% if object %}
				<form enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<table>
						<tr>
							<th>Volumen</th>
							<th>Capítulo</th>
							<th>Título</th>
							<th>Script</th>
							<th>Traducido</th>
						</tr>
						<tr>
							<td>{{ volume.title }}</td>
							<td><center>{{ object.n_chap }}</center></td>
							{% if user.pk == object.user.pk %}
								<td>{{ form.title }}</td>
								<td>{{ form.script }}</td>
								<td><center>{{ form.translated }}</center></td>
							{% else %}
								<td>{{ object.title }}</td>
								<input id="title" type="hidden" name="title" value="{{ object.title }}">
								<td>Protegido</td>
								<input id="script" type="hidden" name="script" value="{{ object.script }}">
								<td><center>{% if object.translated %}Si{% else %}No{% endif %}</center></td>
								<input id="translated" type="hidden" name="translated" value="{{ object.translated }}">
							{% endif %}
						</tr>
					</table>
					<br />
					<button type="submit">Guardar</button>
					{% if volumeless %}
						<input type="button" value="Volver" onclick="location.href='{% url 'chapter' manga.name %}'">
					{% else %}
						<input type="button" value="Volver" onclick="location.href='{% url 'vchapter' manga.name volume.n_vol %}'">
					{% endif %}
				</form>
			{% else %}
			<form enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<input id="user" type="hidden" name="user" value="{{ user.pk }}">
				<input id="manga" type="hidden" name="manga" value="{{ manga.pk }}">
				{% if not volumeless %}
					<input id="volume" type="hidden" name="volume" value="{{ volume.pk }}">
				{% endif %}
				<table>
					<tr>
						<th>Volumen</th>
						<th>Capítulo</th>
						<th>Título</th>
						<th>Script</th>
						<th>Traducido</th>
					</tr>
					<tr>
						{% if volumeless %}
							<td>
								<select  id="volume" name="volume">
									{% for volume in volume_list %}
										<option value="{{ volume.pk }}">{{ volume.n_vol }} - {{ volume.title }}</option>
									{% endfor %}
								</select>
							</td>
						{% else %}
							<td>{{ volume.title }}</td>
						{% endif %}
						<td><center>{{ form.n_chap }}</center></td>
						<td>{{ form.title }}</td>
						<td>{{ form.script }}</td>
						<td><center>{{ form.translated }}</center></td>
					</tr>
				</table>
				<br />
				<button type="submit">Guardar</button>
				{% if volumeless %}
					<input type="button" value="Volver" onclick="location.href='{% url 'chapter' manga.name %}'">
				{% else %}
					<input type="button" value="Volver" onclick="location.href='{% url 'vchapter' manga.name volume.n_vol %}'">
				{% endif %}
			</form>
			{% endif %}
		{% else %}
			<h3>No esta autorizado para ver esta página</h3>
			{% if volumeless %}
				<input type="button" value="Volver" onclick="location.href='{% url 'chapter' manga.name %}'">
			{% else %}
				<input type="button" value="Volver" onclick="location.href='{% url 'vchapter' manga.name volume.n_vol %}'">
			{% endif %}
		{% endif %}
	</body>
{% endblock %}
