{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Iniciar Sesión</h2>
	{% if form.errors %}
	<p>Su nombre de usuario y contraseña no coinciden. Por favor, inténtelo de nuevo.</p>
	{% endif %}
	{% if next %}
		{% if user.is_authenticated %}
		<p>Su cuenta no tiene acceso a esta página.</p>
		{% else %}
		<p>Por favor, inicie sesión para ver esta página.</p>
		{% endif %}
	{% endif %}
	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<table>
	<tr>
		<td>{{ form.username.label_tag }}</td>
		<td>{{ form.username }}</td>
	</tr>
	<tr>
		<td>{{ form.password.label_tag }}</td>
		<td>{{ form.password }}</td>
	</tr>
	</table>
	<br />
	<input type="submit" value="Iniciar sesión" />
	<input type="button" value="Volver" onclick="location.href='javascript:history.back(-1)'">
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
	{# Assumes you setup the password_reset view in your URLconf #}
	<!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
{% endblock %}
