{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Edición de Mangas</h2>
	<body>
		{% if user.is_authenticated %}
			{% if object %}
				<form enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<table>
						<tr>
							<th>Manga</th>
							<th>Autor</th>
						</tr>
						<tr>
							<td>{{ object.name }}</td>
								{% if user.pk == object.user %}
									<td>{{ form.author }}</td>
								{% else %}
									<td>{{ object.author }}</td>
									<input id="author" type="hidden" name="author" value="{{ object.author }}">
								{% endif %}
							</td>
						</tr>
					</table>
					<br />
					<button type="submit">Guardar</button>
					<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
				</form>
			{% else %}
			<form enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<input id="user" type="hidden" name="user" value="{{ user.pk }}">
				<table>
					<tr>
						<th>Manga</th>
						<th>Autor</th>
					</tr>
					<tr>
						<td>{{ form.name }}</td>
						<td>{{ form.author }}</td>
					</tr>
				</table>
				<br />
				<button type="submit">Guardar</button>
				<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
			</form>
			{% endif %}
		{% else %}
			<h3>No esta autorizado para ver esta página</h3>
		{% endif %}
	</body>
{% endblock %}
