{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Eliminar Manga</h2>
	<body>
		{% if not object.protected %}
		<form action="" method="post">
				{% csrf_token %}
				¿Esta seguro de que desea eliminar el manga "{{ object.name }}"?
				<br /><br />
				<button type="submit">Confirmar</button>
				<input type="button" value="Cancelar" onclick="location.href='{% url 'manga' %}'">
			</form>
		{% else %}
			No se puede eliminar el manga "{{ object.name }}" porque esta protegido
			<br /><br /><input type="button" value="Cancelar" onclick="location.href='{% url 'manga' %}'">
		{% endif %}
	</body>
{% endblock %}
