{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Edición de Mangas</h2>
	<body>
		<br />
		{% if user.is_authenticated %}
			{% load replace %}
			{% if form.errors %}
				<h4 class="err-msg">Se han producido los siguientes errores:</h4>
				<div class="error">
					{% replace search="name" replacement="Nombre:" %}
						{% replace search="Name" replacement="Nombre" %}
							{{ form.errors }}
						{% endreplace %}
					{% endreplace %}
				</div>
				<br />
			{% endif %}
			{% if object %}
				<form enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<table>
						<tr>
							<th>Manga</th>
							<th>Autor</th>
						</tr>
						<tr>
							<td>{{ object.name }}</td>
								{% if user.pk == object.user.pk or user.is_staff %}
									<td>{{ form.author }}</td>
								{% else %}
									<td>{{ object.author }}</td>
									<input id="author" type="hidden" name="author" value="{{ object.author }}">
								{% endif %}
							</td>
						</tr>
					</table>
					<br />
					<div class="buttons">
						<button type="submit">Guardar</button>
						<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
					</div>
				</form>
			{% else %}
			<form enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<input id="user" type="hidden" name="user" value="{{ user.pk }}">
				<table>
					<tr>
						<th>Manga</th>
						<th>Autor</th>
					</tr>
					<tr>
						<td>{{ form.name }}</td>
						<td>{{ form.author }}</td>
					</tr>
				</table>
				<br />
				<div class="buttons">
					<button type="submit">Guardar</button>
					<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
				</div>
			</form>
			{% endif %}
		{% else %}
			<h3>No esta autorizado para ver esta página</h3>
			<div class="buttons">
				<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
			</div>
		{% endif %}
	</body>
{% endblock %}
