{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Lista de Mangas</h2>
	<body>
		<input type="button" value="Nuevo Manga" onclick="location.href='{% url 'manga-new' %}'">
		<br /><br />
		{% if object_list or manga_list %}
			<table>
				<tr>
					<th>Manga y Autor</th>
					<th><center>Volúmenes</center></th>
					<th><center>Capítulos</center></th>
					<!-- <th colspan="4">Edición</th> -->
				</tr>
				{% for manga in object_list %}
				<tr>
					<td>{{ manga.name }} - {{ manga.author }}</td>
					<!--<td class="img_cell">
						<center>
							<a href="{% url 'volume-new' manga.name %}">
								<img src='{% static "mangascripts/images/new.gif" %}' width="24px" alt="Nuevo volumen" title="Nuevo volumen"/>
							</a>
						</center>
					</td>-->
					<td class="img_cell">
						<center>
							<a href="{% url 'volume' manga.name %}">
								<img src='{% static "mangascripts/images/go.png" %}' width="24px" alt="Ver volúmenes" title="Ver volúmenes"/>
							</a>
						</center>
					</td>
					<!--<td class="img_cell">
						<center>
							<a href="{% url 'chapter-new' manga.name %}">
								<img src='{% static "mangascripts/images/new.gif" %}' width="24px" alt="Nuevo capítulo" title="Nuevo capítulo"/>
							</a>
						</center>
					</td>-->
					<td class="img_cell">
						<center>
							<a href="{% url 'chapter' manga.name %}">
								<img src='{% static "mangascripts/images/go.png" %}' width="24px" alt="Ver capítulos" title="Ver capítulos"/>
							</a>
						</center>
					</td>
					{% if user.is_authenticated %}
						<!--<td class="img_cell">
							<center>
								{% if False %}
									<img src='{% static "mangascripts/images/fav.png" %}' width="24px" alt="Favorito" title="Favorito"/>
								{% else %}
									<img src='{% static "mangascripts/images/nfv.png" %}' width="24px" alt="No favorito" title="No favorito"/>
								{% endif %}
							</center>
						</td>-->
						{% if user.pk == manga.user %}
							<td class="img_cell">
								<center>
									<a href="{% url 'manga-edit' manga.name manga.pk %}">
										<img src='{% static "mangascripts/images/edit.gif" %}' width="24px" alt="Editar Manga" title="Editar Manga"/>
									</a>
								</center>
							</td>
							<td class="img_cell">
								<center>
									<a href="{% url 'manga-del' manga.name manga.pk %}">
										<img src='{% static "mangascripts/images/del.gif" %}' width="24px" alt="Eliminar Manga" title="Eliminar Manga"/>
									</a>
								</center>
							</td>
						{% endif %}
					{% endif %}
				</tr>
				{% endfor %}
			</table>
			<br />
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
						<a class="mylink" href="?page={{ page_obj.previous_page_number }}">[&lt;&lt;]</a>
					{% endif %}
					<strong class="current">
						Página {{ page_obj.number }} de {{ paginator.num_pages }}
					</strong>
					{% if page_obj.has_next %}
						<a class="mylink" href="?page={{ page_obj.next_page_number }}">[&gt;&gt;]</a>
					{% endif %}
				</span>
			</div>
		{% else %}
			<h3>No hay mangas disponibles</h3>
		{% endif %}
	</body>
{% endblock %}
