{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Script del capítulo</h2>
	{% if user.is_authenticated and user.pk == chapter.user.pk %}
		{% if not volume %}
			<input type="button" value="Editar Capítulo" onclick="location.href='{% url 'chapter-edit' manga.name chapter.n_chap chapter.pk %}'">
		{% else %}
			<input type="button" value="Editar Capítulo" onclick="location.href='{% url 'vchapter-edit' manga.name volume.n_vol chapter.n_chap chapter.pk %}'">
		{% endif %}
	{% endif %}
	{% if not volume %}
		<input type="button" value="Volver" onclick="location.href='{% url 'chapter' manga.name %}'">
	{% else %}
		<input type="button" value="Volver" onclick="location.href='{% url 'vchapter' manga.name volume.n_vol %}'">
	{% endif %}
	<br /><br />
	<body>
		{% if chapter %}
			<table>
				<tr>
					<th>{{ chapter.title }}</th>
				</tr>
				<tr>
					<td>{{ chapter.script|safe }}</td>
				</tr>
			</table>
		{% else %}
			<h3>No hay script disponible</h3>
		{% endif %}
	</body>
{% endblock %}
