{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Script del capítulo</h2>
	<input type="button" value="Editar" onclick="location.href='{% url 'chapter-edit' manga.name chapter.n_chap chapter.pk %}'">
	<input type="button" value="Volver" onclick="location.href='{% url 'chapter' manga.name %}'">
	<br /><br />
	<body>
		{% if chapter %}
			<table>
				<tr>
					<th>{{ chapter.title }}
						{% if chapter.read %}
							<img class="right-align" src='{% static "mangascripts/images/O.png" %}' width="24px" alt="Leído" title="Leído"/>
						{% else %}
							<img class="right-align" src='{% static "mangascripts/images/X.png" %}' width="24px" alt="No leído" title="No leído"/>
						{% endif %}
					</th>
				</tr>
				<tr>
					<td>{{ chapter.script|safe }}</td>
				</tr>
			</table>
		{% else %}
			<h3>No hay script disponible</h3>
		{% endif %}
	</body>
{% endblock %}
