<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'mangascripts/style.css' %}" />
	</head>
	<body>
		{% if chapter_list %}
			<table>
				<tr>
					<th>Capítulo</th>
					<th>Título</th>
					<th width="100px"><center>Script</center></th>
				</tr>
				{% for chapter in chapter_list|dictsort:"n_chap" %}
					<tr>
						<td><center>{{ chapter.n_chap }}</center></td>
						<td>{{ chapter.title }}</td>
						<td class="img_cell">
							<center>
								<a href="{% url 'script' manga.name chapter.n_chap %}">
									<img src='{% static "mangascripts/images/red-arrow.png" %}' width="24px" alt="Ver script" title="Ver script"/>
								</a>
							</center>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<h3>No hay capítulos disponibles</h3>
		{% endif %}
	</body>
</html>
