{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Lista de Volúmenes</h2>
	<body>
		<input type="button" value="Nuevo Volumen" onclick="location.href='{% url 'volume-new' manga.name %}'">
		{% if not favorite %}
			<input type="button" value="Ver Favoritos" onclick="location.href='{% url 'volume_fav' manga.name %}'">
		{% else %}
			<input type="button" value="Ver Todos" onclick="location.href='{% url 'volume' manga.name %}'">
		{% endif %}
		{% if object_list %}
			<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
			<br /><br />
			<table>
				<tr>
					<th>Volumen</th>
					<th>Título</th>
					<th colspan="2">Capítulos</th>
				</tr>
				{% for volume in object_list %}
				<tr>
					<td><center>{{ volume.n_vol }}</center></td>
					<td>{{ volume.title }}</td>
					<td class="img_cell">
						<center>
							<a href="{% url 'vchapter-new' manga.name volume.n_vol %}">
								<img src='{% static "mangascripts/images/new.gif" %}' width="24px" alt="Nuevo capítulo" title="Nuevo capítulo"/>
							</a>
						</center>
					</td>
					<td class="img_cell">
						<center>
							<a href="{% url 'vchapter' manga.name volume.n_vol %}">
								<img src='{% static "mangascripts/images/go.png" %}' width="24px" alt="Ver capítulos" title="Ver capítulos"/>
							</a>
						</center>
					</td>
					<td class="img_cell">
						<center>
							{% if volume.favorite %}
								<img src='{% static "mangascripts/images/fav.png" %}' width="24px" alt="Favorito" title="Favorito"/>
							{% else %}
								<img src='{% static "mangascripts/images/nfv.png" %}' width="24px" alt="No favorito" title="No favorito"/>
							{% endif %}
						</center>
					</td>
					<td class="img_cell">
						<center>
							<a href="{% url 'volume-edit' manga.name volume.n_vol volume.pk %}">
								<img src='{% static "mangascripts/images/edit.gif" %}' width="24px" alt="Editar Volumen" title="Editar Volumen"/>
							</a>
						</center>
					</td>
					<td class="img_cell">
						<center>
							<a href="{% url 'volume-del' manga.name volume.n_vol volume.pk %}">
								<img src='{% static "mangascripts/images/del.gif" %}' width="24px" alt="Eliminar Volumen" title="Eliminar Volumen"/>
							</a>
						</center>
					</td>
					<td class="img_cell">
						<center>
							{% if volume.protected %}<img src='{% static "mangascripts/images/pro.png" %}' width="24px" alt="Protegido" title="Protegido"/>{% endif %}
						</center>
					</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<h3>No hay volúmenes disponibles</h3>
		{% endif %}
		<br /><input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
	</body>
{% endblock %}
