{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Edición de Volúmenes</h2>
	<body>
		{% if user.is_authenticated %}
			{% load replace %}
			{% if form.errors %}
				<h4 class="err-msg">Se han producido los siguientes errores:</h4>
				<div class="error">
					{% replace search="n_vol" replacement="Volumen:" %}
						{% replace search="__all__" replacement="Varios:" %}
							{% replace search="Volume con este Manga y N vol ya existe." replacement="Ya existe el Volumen para este Manga" %}
								{{ form.errors }}
							{% endreplace %}
						{% endreplace %}
					{% endreplace %}
				</div>
				<br />
			{% endif %}
			{% if object %}
				<form enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<table>
						<tr>
							<th>Manga</th>
							<th>Volumen</th>
							<th>Título</th>
						</tr>
						<tr>
							<td>{{ object.manga }}</td>
							<td><center>{{ object.n_vol }}</center></td>
							{% if user.pk == object.user.pk %}
								<td>{{ form.title }}</td>
							{% else %}
								<td>{{ object.title }}</td>
								<input id="title" type="hidden" name="title" value="{{ object.title }}">
							{% endif %}
						</tr>
					</table>
					<br />
					<button type="submit">Guardar</button>
					<input type="button" value="Volver" onclick="location.href='{% url 'volume' manga.name %}'">
				</form>
			{% else %}
			<form enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<input id="user" type="hidden" name="user" value="{{ user.pk }}">
				<input id="manga" type="hidden" name="manga" value="{{ manga.pk }}">
				<table>
					<tr>
						<th>Manga</th>
						<th>Volumen</th>
						<th>Título</th>
					</tr>
					<tr>
						<td>{{ manga.name }}</td>
						<td><center>{{ form.n_vol }}</center></td>
						<td>{{ form.title }}</td>
					</tr>
				</table>
				<br />
				<button type="submit">Guardar</button>
				<input type="button" value="Volver" onclick="location.href='{% url 'volume' manga.name %}'">
			</form>
			{% endif %}
		{% else %}
			<h3>No esta autorizado para ver esta página</h3>
			<input type="button" value="Volver" onclick="location.href='{% url 'volume' manga.name %}'">
		{% endif %}
	</body>
{% endblock %}
