{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Eliminar Volumen</h2>
	<body>
		{% if not object.protected %}
		<form action="" method="post">
				{% csrf_token %}
				¿Esta seguro de que desea eliminar el volumen #{{ object.n_vol }} del manga "{{ manga.name }}"?<br />
				(Se eliminarán todos los capítulos asociados al mismo)
				<br /><br />
				<button type="submit">Confirmar</button>
				<input type="button" value="Cancelar" onclick="location.href='{% url 'volume' manga.name %}'">
			</form>
		{% else %}
			No se puede eliminar el volumen #{{ object.n_vol }} del manga "{{ manga.name }}" porque está protegido
			<br /><br /><input type="button" value="Cancelar" onclick="location.href='{% url 'volume' manga.name %}'">
		{% endif %}
	</body>
{% endblock %}
