{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Lista de Volúmenes{% if manga %} de {{ manga.name }}{% if favorites %} ( Favoritos ){% endif %}{% endif %}</h2>
	<body>
		{% if user.is_authenticated %}
			<input type="button" value="Nuevo Volumen" onclick="location.href='{% url 'volume-new' manga.name %}'">
			{% if favorites %}
				<input type="button" value="Ver Todos" onclick="location.href='{% url 'volume' manga.name %}'">
			{% else %}
				<input type="button" value="Ver Favoritos" onclick="location.href='{% url 'favorites-volumes' manga.name %}'">
			{% endif %}
		{% endif %}
		{% if object_list %}
			<input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'">
			<br /><br />
			<table>
				<tr>
					{% if user.is_authenticated %}<th width="20px"><img title="Propietario" height="18px" src="{% static 'images/lock.png' %}"/></th>{% endif %}
					<th width="100px">Volumen</th>
					<th width="100%">Título</th>
					<th width="100px"><center>Capítulos</center></th>
				</tr>
				{% for volume in object_list %}
				<tr>
					{% if user.is_authenticated %}
					<td>
						<a href="{% url 'user-details' volume.user.pk %}">
							{% if user.pk == volume.user.pk %}
								<img title="Ver tu perfil" height="16px" src="{% static 'images/my.png' %}"/>
							{% else %}
								<img title="Ver perfil de {{manga.user}}" height="16px" src="{% static 'images/up.png' %}"/>
							{% endif %}
						</a>
					</td>
					{% endif %}
					<td><center>{{ volume.n_vol }}</center></td>
					<td>{{ volume.title }}</td>
					<!--<td class="img_cell">
						<center>
							<a href="{% url 'vchapter-new' manga.name volume.n_vol %}">
								<img src='{% static "mangascripts/images/new.gif" %}' width="24px" alt="Nuevo capítulo" title="Nuevo capítulo"/>
							</a>
						</center>
					</td>-->
					<td class="img_cell">
						<center>
							<a href="{% url 'vchapter' manga.name volume.n_vol %}">
								<img src='{% static "mangascripts/images/go.png" %}' width="24px" alt="Ver capítulos" title="Ver capítulos"/>
							</a>
						</center>
					</td>
					{% if user.is_authenticated %}
						<td class="img_cell">
							<center>
								{% if volume.pk in fav %}
									<a href="{% url 'volume-unfav' manga.name volume.n_vol volume.pk page_obj.number favorites %}">
										<img src='{% static "mangascripts/images/fav.png" %}' width="24px" alt="Favorito" title="Favorito"/>
									</a>
								{% else %}
									<a href="{% url 'volume-fav' manga.name volume.n_vol volume.pk page_obj.number favorites %}">
										<img src='{% static "mangascripts/images/nfv.png" %}' width="24px" alt="No favorito" title="No favorito"/>
									</a>
								{% endif %}
							</center>
						</td>
						{% if user.pk == volume.user.pk %}
							<td class="img_cell">
								<center>
									<a href="{% url 'volume-edit' manga.name volume.n_vol volume.pk %}">
										<img src='{% static "mangascripts/images/edit.gif" %}' width="24px" alt="Editar Volumen" title="Editar Volumen"/>
									</a>
								</center>
							</td>
							<td class="img_cell">
								<center>
									<a href="{% url 'volume-del' manga.name volume.n_vol volume.pk %}">
										<img src='{% static "mangascripts/images/del.gif" %}' width="24px" alt="Eliminar Volumen" title="Eliminar Volumen"/>
									</a>
								</center>
							</td>
						{% endif %}
					{% endif %}
				</tr>
				{% endfor %}
			</table>
			<center>
				<br />
				<div class="pagination">
					<span class="step-links">
						{% if page_obj.has_previous %}
							<a class="mylink" href="?page={{ page_obj.previous_page_number }}"><img src='{% static "mangascripts/images/ant.png" %}' width="15px" alt="Anterior" title="Anterior"/></a>
						{% endif %}
						<strong class="current">
							Página {{ page_obj.number }} de {{ paginator.num_pages }}
						</strong>
						{% if page_obj.has_next %}
							<a class="mylink" href="?page={{ page_obj.next_page_number }}"><img src='{% static "mangascripts/images/sig.png" %}' width="15px" alt="Siguiente" title="Siguiente"/></a>
						{% endif %}
					</span>
				</div>
			</center>
		{% else %}
			<h3>No se encontró ningun volumen</h3>
		{% endif %}
		<center><br /><input type="button" value="Volver" onclick="location.href='{% url 'manga' %}'"></center>
	</body>
{% endblock %}
