body{
	background-color: silver;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
	text-align: left;
	padding: 10px;
}

th {
	background-color: gold;
}

tr:nth-child(odd) {
	background-color: whitesmoke;
}

tr:nth-child(even) {
	background-color: white;
}

.img_cell {
	padding: 5px;
	width: 24px;
}

.logo {
	float: left; 
	position: relative;
	top: -12px;
	height: 48px; 
	width: 48px; 
	padding-right:12px; 
}

.login {
	top: 3px;
	right: 6px;
	position: absolute;
	margin-left: 70px;
}

.mylink { 
	text-decoration: none;
	color: #00C;
}

.mylink:hover {
	color: #C00;
}

.mylink:visited, .mylink:active {
	color: #0C0;
}
