body{
	background-color: silver !important;
	margin-bottom: 10px !important;
}

table {
	border-collapse: collapse;
	margin: 0 10px 0 10px;
}

td, th {
	border: 1px solid black;
	text-align: left !important; 
	padding: 10px !important;
}

th {
	background-color: gold;
}

tr:nth-child(odd) {
	background-color: whitesmoke !important;
}

tr:nth-child(even) {
	background-color: white !important;
}

.img_cell {
	padding: 5px;
	width: 24px;
}

.logo {
	float: left;
	position: relative;
	top: -5px;
	height: 40px;
	width: 40px;
	left: +5px;
	margin-right: 10px;
}

.login {
	top: 3px;
	right: 6px;
	position: absolute;
	margin-left: 70px;
}

.mylink { 
	text-decoration: none;
	color: #00C;
}

.mylink:hover {
	color: #C00;
}

.mylink:visited, .mylink:active {
	color: #0C0;
}

.profile {
	width: -moz-fit-content;
	background-color: #CCC;
	padding: 10px 20px;
	margin-left: 10px;
	border: 5px ridge gray;
	border-radius: 10px;
}

.menu {
	margin-left: 10px;
}

.success {
	width: -moz-fit-content;
	border: 3px double green;
	padding-right: 20px;
	background-color: lawngreen;
}

.success > ul > li {
	padding: 5px;
}

.success-msg {
	color: #090;
}

.error {
	width: -moz-fit-content;
	border: 3px double red;
	padding-right: 20px;
	background-color: pink;
}

.error > ul > li {
	padding: 5px;
}

.err-msg {
	color: #900;
}

.info {
	width: -moz-fit-content;
	border: 3px double blue;
	padding-right: 20px;
	background-color: skyblue;
}

.info > ul > li {
	padding: 5px;
}

.info-msg {
	color: #009;
}

.buttons, .success, .success-msg, .error, .err-msg, .info, .info-msg {
	margin-left: 10px;
	padding-top: 10px;
}

.pagination {
	margin: 0px !important;
}

.pagination > span > a > img {
	position: relative;
	top: -1px;
}

.staff {
	position: relative;
	top: -2px;
}
