{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" type="image/png" href="{% static 'images/sitelogo.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mangascripts/style.css' %}" />
</head>
	{% if request.path != "/accounts/login/" and request.path != "/login/" %}
	<div class="login">
		Bienvenido, 
		{% if user.is_authenticated %}
			{% if user.first_name and user.last_name %}
				{{ user.first_name }} {{ user.last_name }}.
			{% else %}
				{{ user.username }}.
			{% endif %} | 
			<a class="mylink" href="javascript:void(0)" onclick="alert('No implementado');">Ver Perfil</a>  | 
			<a class="mylink" href="{% url 'logout_view' %}">Cerrar sesión</a> | 
		{% else %}
			Usuario Anonimo. | 
			<a class="mylink" href="javascript:void(0)" onclick="alert('No implementado');">Nuevo Registro</a> | 
			<a class="mylink" href="/accounts/login/?next=/">Iniciar sesión</a> | 
		{% endif %}
	</div>
	{% endif %}
<body>
	<a href="{% url 'manga' %}"><img class="logo" src="{% static 'images/sitelogo.png' %}" alt="Logo" title="Índice de Mangas" /></a>
	{% block content %}{% endblock %}
</body>
</html>
