{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" type="image/png" href="{% static 'images/sitelogo.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mangascripts/style.css' %}" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
	{% if request.path != "/accounts/login/" and request.path != "/login/" %}
	<div class="login">
		{% if user.is_staff %}
			<img class="staff" width="15px" src="{% static 'images/staff.png' %}" alt="staff" title="Staff" />
		{% endif %}
		Bienvenido, 
		{% if user.is_authenticated %}
			{% if user.first_name and user.last_name %}
				{{ user.first_name }} {{ user.last_name }}
			{% else %}
				{{ user.username }}
			{% endif %} | 
			<a class="mylink" href="{% url 'user-details' user.pk %}">Ver perfil</a>  | 
			<a class="mylink" href="{% url 'logout_view' %}">Cerrar sesión</a> | 
		{% else %}
			Usuario Anónimo | 
			<a class="mylink" href="{% url 'register' %}">Nuevo registro</a> | 
			<a class="mylink" href="/accounts/login/?next=/">Iniciar sesión</a> | 
		{% endif %}
	</div>
	{% endif %}
<body>
	<a href="{% url 'manga' %}"><img class="logo" src="{% static 'images/sitelogo.png' %}" alt="Logo" title="Índice de Mangas" /></a>
	{% block content %}{% endblock %}
</body>
</html>
